body {
  background-color: #3cb371;
}

.box {
  color: white;
  border-radius: 6px;
  width: 250px;
  border-width: 1px;
  border-color: white;
  border-style: solid;
  font-size: 15px;
  font-family: "Courier New", Courier, monospace;
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 5px;
  padding-left: 40px;
  float: none;
}
